


.gameContainer
    .resultsContainer
        h1 GAME OVER
        h2 Tu puntaje: 
            span.finalPoints +34
            
        a(href='/') VOLVER A JUGAR
                
    canvas#player.jugador(width='108', height='100')
    h1 Player: 
        span.vidaDisplay 100%
        
    h1 Points:
        span.pointsDisplay  +0
        
    h1.timeContainer Time left:
        span.timesDisplay  +0
