
.gameContainer{
    background-color: mistyrose;
    height: 600px;
    position: relative;
    overflow: hidden;
    background-image: url('../img/background.jpg');
    background-position: bottom center;
    background-size: cover;
}

#player{
    position: absolute;
    bottom: 0;
}

.bullet{
    position: absolute;
    width: 50px;
    bottom:30px;
}


.enemy-ground{
    position: absolute;
    width: 50px;
    bottom:0;
}

.enemy-air{
    position: absolute;
    width: 50px;
    top:0;
}


.explosion{
    position: absolute;
    width: 50px;
    bottom:0;
}

.timeContainer{
    position: absolute;
    top: 0;
    right: 20px;
}


.resultsContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(126, 18, 18, .95);
    z-index: 100;
    text-align: center;
    padding: 180px 0;
    display: none;

    h1{
        color: white;
        font-size: 25px;
    }
    h2{
        color: mistyrose;
        font-size: 15px;
        margin-bottom: 40px;
    }
    span{
        font-size: 19px;
        display: block;
        color: gold;
    }
    a{
        background-color: LIGHTSTEELBLUE;
        color: MIDNIGHTBLUE;
        padding: 10px 20px;
        text-decoration: none;
        font-size: 12px;
        font-weight: bold;
        border-radius: 100px;
    }
    a:hover{
        color: LIGHTSTEELBLUE;
        background-color: MIDNIGHTBLUE;
    }
}
